= form_for @webinar, :html => { :class => 'form-horizontal' } do |f|
  .container-fluid
    %form.for-stacked
      %fieldset
        %em
          .control-group
            = f.label :title, :class => 'control-label'
            .controls
              = f.text_field :title, :class => 'text_field'
          .control-group
            = f.label :location, :class => 'control-label'
            .controls
              = f.text_field :location, :class => 'text_field'
          .control-group
            = f.label :time, :class => 'control-label'
            .controls
              = f.time_select :time, :class => 'time_select'
          .control-group
            = f.label :date, :class => 'control-label'
            .controls
              = f.date_select :date, :class => 'date_select'
          .control-group
            = f.label :description, :class => 'control-label'
            .controls
              = f.text_field :description, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), webinars_path, :class => 'btn'
