- model_class = @webinar.class

.container-fluid
  %h1=t '.title', :default => model_class.model_name.human
  %br
  .sidebar
  .content
    %p
      %strong= model_class.human_attribute_name(:title) + ':'
      %br
      = @webinar.title
    %p
      %strong= model_class.human_attribute_name(:location) + ':'
      %br
      = @webinar.location
    %p
      %strong= model_class.human_attribute_name(:time) + ':'
      %br
      = @webinar.time
    %p
      %strong= model_class.human_attribute_name(:date) + ':'
      %br
      = @webinar.date
    %p
      %strong= model_class.human_attribute_name(:description) + ':'
      %br
      = @webinar.description

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), webinars_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_webinar_path(@webinar), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), webinar_path(@webinar), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
