- model_class = @user.class

.container-fluid
  %h1=t '.title', :default => model_class.model_name.human
  %br
  .sidebar
  .content
    %p
      %strong= model_class.human_attribute_name(:name) + ':'
      %br
      = @user.name

    %p
      %strong= model_class.human_attribute_name(:email) + ':'
      %br
      = @user.email
      
    %p
      %strong= model_class.human_attribute_name(:encrypted_password) + ':'
      %br
      = @user.encrypted_password
    %p
      %strong= model_class.human_attribute_name(:admin) + ':'
      %br
      = @user.admin

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), users_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(@user), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
